/* ================= LOGIN PAGE STYLE ================= */
body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 450px;
    margin: 80px auto;
    background: #ffffff;
    padding: 35px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0b4fad;
    font-size: 28px;
    font-weight: bold;
}



label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 13px;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #003a87;
}

#msg {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

/* ================= DASHBOARD PAGE STYLE ================= */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9; /* background dashboard */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background: #0057b8;
    color: white;
    padding: 15px;
    font-size: 20px;
}

/* Container Dashboard */
.container {
    max-width: 1100px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* Button dashboard */
button, .btn {
    background: #0057b8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background: #004a9e;
}

/* Table dashboard */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #d1d1d1;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Input form dashboard */
input, select {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid rgb(185,185,185);
}
